@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

        body {
            font-family: Arial, sans-serif;
            background-color: #F5FCFF;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }

        .row {
            display: flex;
        }

        .cell {
            width: 30px;
            height: 30px;
            border: 1px solid black;
            text-align: center;
            line-height: 30px;
            box-sizing: border-box;
        }

        .lightBackground {
            background-color: #A9A9A9;
        }

        .darkBackground {
            background-color: #EBF3E8;
        }

        .buttonContainer {
            margin-top: 20px;
            display: flex;
            /* Ensure buttons are always displayed */
            align-items: center;
            justify-content: center;
        }

        .buttonContainer button {
            margin-right: 10px;
            /* Add margin between buttons */
        }

        .result {
            margin-top: 20px;
            font-weight: bold;
        }

        .correct {
            color: green;
        }

        .incorrect {
            color: red;
        }